<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuesBuddy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SingupM</display-name>
    <servlet-name>SingupM</servlet-name>
    <servlet-class>controller.SingupM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingupM</servlet-name>
    <url-pattern>/SingupM</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listner.ConnectDBServer</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginM</display-name>
    <servlet-name>LoginM</servlet-name>
    <servlet-class>com.controller.LoginM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginM</servlet-name>
    <url-pattern>/LoginM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutM</display-name>
    <servlet-name>LogoutM</servlet-name>
    <servlet-class>com.controller.LogoutM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutM</servlet-name>
    <url-pattern>/LogoutM</url-pattern>
  </servlet-mapping>
</web-app>